html, body{min-height:100%;}
body{height:100vh;}

body>.container {
	padding: 60px 0px 0;
}

.hidden {
	display: none;
}

input[type=number],
input.small,
select.small {
	width: 200px;
}

.versionDiv {
	font-size: 10px;
	font-weight: bold;
	line-height: 0;
	text-align: right;
}

.bigger {
    font-size: 18px;
}