@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?32686753');
  src: url('../font/fontello.eot?32686753#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?32686753') format('woff2'),
       url('../font/fontello.woff?32686753') format('woff'),
       url('../font/fontello.ttf?32686753') format('truetype'),
       url('../font/fontello.svg?32686753#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32686753#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-wrench:before { content: '\e801'; } /* '' */
.icon-doc:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-cw:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-off:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-flag:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-star:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-up-open:before { content: '\e815'; } /* '' */
.icon-asterisk:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-stop:before { content: '\e818'; } /* '' */
.icon-pause:before { content: '\e819'; } /* '' */
.icon-to-end:before { content: '\e81a'; } /* '' */
.icon-to-end-alt:before { content: '\e81b'; } /* '' */
.icon-to-start:before { content: '\e81c'; } /* '' */
.icon-to-start-alt:before { content: '\e81d'; } /* '' */
.icon-fast-fw:before { content: '\e81e'; } /* '' */
.icon-fast-bw:before { content: '\e81f'; } /* '' */
.icon-eject:before { content: '\e820'; } /* '' */
.icon-globe:before { content: '\e821'; } /* '' */
.icon-list:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-folder:before { content: '\e825'; } /* '' */
.icon-folder-open:before { content: '\e826'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-bell:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
